node_modules/
cdk.out/
dist/
build/
aws/
coverage/
.jest-cache/

# Compiled TypeScript files
bin/*.js
lib/*.js
**/*.js
*.js
**/*.d.ts
*.d.ts

# eslint
.eslintcache

# Jest configuration (JavaScript file)
jest.config.js